/*- Custom style -*/

// -- Put custom style under this point -- //

h2{
  font-size:3em;
  padding-bottom:.7em;
}

.fornext{
  font-style: italic;
}

.lab{
  background-color:violet;
  padding:5px 8px;
}

.test{
  background-color:yellow;
  padding:5px 8px;
}
.proj{
  background-color:skyblue;
  padding:5px 8px;
}
.duration{
  font-size:1.3em;
  margin-bottom: 2em;
}
